<h1 class="title">Ghost blogs</h1>
<h2 class="subtitle">Statistics</h2>
<hr>
<div class="tabs">
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li ><a href="/blogs/create">Create</a></li>
    <li "is-active"><a href="/blogs/stats">Stats</a></li>
  </ul>
</div>
<div class="columns">
	<div class="column is-8">
		<h1>Heyy!!!</h1>
		This is a work in progress baby

	</div>

	<div class="column">
			Hello
	</div>
</div>


