<h1 class="title">Ghost blogs</h1>
<h2 class="subtitle">Statistics</h2>
<hr>
<div class="tabs">
  <ul>
    <li><a href="/status">Status</a></li>
    <li class="is-active"><a href="/status/users">Users</a></li>
    <li><a>Site</a></li>
    <li><a>Stats</a></li>
  </ul>
</div>
<div class="columns">
  <div class="column is-8">
    <h1>Heyy!!!</h1>
    This is a work in progress baby

  </div>

  <div class="column">
      Hello
  </div>
</div>


