.contain {
	max-width: 1190px;
	margin: 15 auto;
	padding: 15px;
}
.containblog {
	max-width: 1190px;
	margin: 15 auto;
	padding: 15px;
}

.separatee {
	margin: 15 auto;
	padding: 15px;
}

.header {
	padding: 5px;
	margin: 5px;
}